<footer>
    <div class="footer">
        <div class="top">
            <div class="logo">
                <img src="../../assets/images/Logo.png" alt="" class="app_logo logo2">
            </div>
            <ul class="socials">
                <li>
                    <a href="">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="">
                       <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="">
                       <fa-icon [icon]="faThreads"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
        <div class="list">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.6189454007294!2d7.027020373362993!3d4.835312740479263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1069d1dfb38824ed%3A0xac41bee066e6dbec!2sAptech%20Computer%20Education%20Port%20Harcourt!5e0!3m2!1sen!2sng!4v1699275272305!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <ul>
                <li>
                    Contact Us
                </li>
                <li>
                    #3 MBA Plaza Rumomasi Port Harcourt
                </li>
                <li>
                    <a href="tel:09075281633">09075281633</a>
                </li>
                <li>
                    <a href="mailto: support.carbrezzy.com">support.carbrezzy.com</a>
                </li>
            </ul>
            <ul>
                <li>
                    Quick Link
                </li>
                <li>
                   <a href="">Blog</a>
                </li>
                <li>
                    <a href="contact">FAQs</a>
                </li>
                <li>
                    <a href="#">Discount</a>
                </li>
                <li>
                    <a href="#">My Account</a>
                </li>
                <li>
                    <a href="shop">Find Car</a>
                </li>
            </ul>
            <ul>
                <li>
                    The Company
                </li>
                <li>
                   <a href="about">About Us</a>
                </li>
                <li>
                    <a href="contact">Contact Us</a>
                </li>
                <li>
                    <a href="shop">Go To Shop</a>
                </li>
                <li>
                    <a href="contact">Site Map</a>
                </li>
                <li>
                    <a href="shop">Find Car</a>
                </li>
            </ul>
        </div>
        <div class="last">
            <p>CarBrezzy © 2023. All Rights Reserved.</p>
        </div>
    </div>
</footer>