*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Outfit', sans-serif;
}
 /* FOOTER */
 footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0 50px 0;
}
footer .footer{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.footer div{
    width: 100%;
}
.footer .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .top .logo2{
  width: 100px;
}
.footer .top .socials{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer .top .socials li a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background-color: #1877f2;
    font-size: 20px;
    transition: 0.5s ease-in-out;
    color: #322e31;
}
.footer .top .socials li:nth-child(3) a{
    background-color: #f80985;
}
.footer .top .socials li:nth-child(2) a,
.footer .top .socials li:nth-child(4) a{
    background-color: #000;
}

.footer .top .socials li:nth-child(1) a:hover{
    border-color: #1877f2;
    background-color: transparent;
}
.footer .top .socials li:nth-child(2) a:hover,.footer .top .socials li:nth-child(4) a:hover{
    border-color: #000;
    background-color: transparent;
}
.footer .top .socials li:nth-child(3) a:hover{
    border-color: #f80985;
    background-color: transparent;
}

/* FOOTER LIST ITEMS */
.footer .list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
    gap: 40px;
    justify-content: center;
    padding-bottom: 60px;
    border-bottom: 2px solid #3e373c;
}
.footer .list ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .list ul li,
.footer .list li a{
    color: rgba(255, 255, 255, 0.668);
    transition: 0.5s ease-in-out;
}
.footer .list a:hover{
    color: white;
}
.footer .list li:first-child{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer .last p{
    padding: 0;
    color: rgba(255, 255, 255, 0.668);
}
.footer .list iframe{
    border: 2px solid red;
    border-radius: 18px;
    width: 300px;
    height: 300px;
}

/* RESPONSIVENESS */

@media(max-width:1360px){
  .about_us .abt_con{
      padding: 0 2%;
  }
  .about_us .abt_con .txt h1{
      font-size: 30px;
  }
  .about_us .abt_con .box_a{
      grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  }
  .about_us .abt_con .box_a .box{
      padding: 30px 30px;
  }
  
  .about_us .abt_con .box_a .box .icon{
      width: 80px;
      height: 80px;
  }
  .about_us .abt_con .box_a .box .icon .icon1{
       width: 80px;
       height: 80px;
   }
  .about_us .icon::before{
      font-size: 30px;
  }
  .about_us .abt_con .box_a .box .msg h3{
     font-size: 17px;
  }
  
  .about_us .abt_con .box_a .box .msg p{
      font-size: 15px;
  }   
  

.partners .txt h2{
  font-size: 30px;
}
.partners .p_con{
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
}

.news {
  padding: 0 4%;
}
.news .news_con{
  width: 700px;
}
.news .news_con::after{
  font-size: 420px;
}
.news_con form div{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 100%;
}
.news_con form input{
  width: 350px;
  padding: 5px 20px;
  height: 50px;
}
.news_con form input::placeholder{
  font-size: 20px;
}
.news_con form h1{
  font-size: 35px;
  padding: 0 20px;
}
.news_con form label{

}
.news_con form label i{
  font-size: 18px;
}

/* FOOTER */
footer .footer{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .top .socials{
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .top .socials li a{
  width: 40px;
  height: 40px;
  font-size: 18px;
}


/* FOOTER LIST ITEMS */
.footer .list{
  grid-template-columns: repeat(auto-fit, minmax(200px, 230px));
}

.footer .list li{
  font-size: 13px;
}
.footer .list li:first-child{
  font-size: 15px;
}
.footer .last p{
  font-size: 10px;
}
.footer .list iframe{
  display: none;
}
}

/* AT 750PX */
@media(max-width:750px){
 
  .about_us .abt_con .txt h1{
      font-size: 27px;
  }
  .about_us .abt_con .box_a{
      grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  }
  .about_us .abt_con .box_a .box{
      padding: 17px 27px;
  }
  
  .about_us .abt_con .box_a .box .icon{
      width: 60px;
      height: 60px;
  }
  .about_us .abt_con .box_a .box .icon .icon1{
       width: 60px;
       height: 60px;
   }
  .about_us .icon::before{
      font-size: 23px;
  }
  .about_us .abt_con .box_a .box .msg h3{
     font-size: 14px;
  }
  
  .about_us .abt_con .box_a .box .msg p{
      font-size: 12px;
  }   
  

.partners .txt h2{
  font-size: 25px;
}
.partners .p_con{
  grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
}

.news {
  padding: 0 4%;
}
.news .news_con{
  width: 500px;
}
.news .news_con::after{
  font-size: 300px;
}
.news_con form div{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 100%;
}
.news_con form input{
  width: 320px;
  padding: 5px 20px;
  height: 40px;
  font-size: 14px;
}
.news_con form input::placeholder{
  font-size: 14px;
}
.news_con form h1{
  font-size: 20px;
}
.news_con form label{
  right: 15%;
}
.news_con form label i{
  font-size: 16px;
}
}
/* AT 400PX */
@media(max-width:450px){
 
  .about_us .abt_con .txt h1{
      font-size: 18px;
  }
  .about_us .abt_con .box_a{
      grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  }
  .about_us .abt_con .box_a .box{
      padding: 17px 27px;
  }
  
  .about_us .abt_con .box_a .box .icon{
      width: 50px;
      height: 50px;
  }
  .about_us .abt_con .box_a .box .icon .icon1{
       width: 50px;
       height: 50px;
   }
  .about_us .icon::before{
      font-size: 20px;
  }
  .about_us .abt_con .box_a .box .msg h3{
     font-size: 12px;
  }
  
  .about_us .abt_con .box_a .box .msg p{
      font-size: 10px;
  }   
  

.partners .txt h2{
  font-size: 18px;
}
.partners .p_con{
  grid-template-columns: repeat(auto-fit, minmax(50px, 70px));
}

.news {
  padding: 0 4%;
}
.news .news_con{
  width: 300px;
  height: 300px;
}
.news .news_con::after{
  font-size: 220px;
}

.news_con form input{
  width: 200px;
  padding: 5px 20px;
  height: 35px;
  font-size: 12px;
}
.news_con form input::placeholder{
  font-size: 14px;
}
.news_con form h1{
  font-size: 15px;
}
.news_con form label{
  right: 21%;
}
.news_con form label i{
  font-size: 14px;
}
/* FOOTER */
footer{
  padding: 70px 0 30px 0;
}
footer .footer{
  gap: 60px;
}

.footer .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .top .socials{
  gap: 13px;
}
.footer .top .socials li a{
  width: 28px;
  height: 28px;
  font-size: 14px;
}


/* FOOTER LIST ITEMS */
.footer .list{
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  padding-bottom: 40px;
}

.footer .list li{
  font-size: 11px;
}
.footer .list li:first-child{
  font-size: 13px;
}
.footer .last p{
  font-size: 10px;
}
.footer .list iframe{
  display: none;
}

}

/* AT 350PX */
@media(max-width:350px){
 
  .about_us .abt_con .txt h1{
      font-size: 14px;
  }
  .about_us .abt_con .box_a{
      grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
  }
  .about_us .abt_con .box_a .box{
      padding: 6px 10px;
  }
  
  .about_us .abt_con .box_a .box .icon{
      width: 30px;
      height: 30px;
  }
  .about_us .abt_con .box_a .box .icon .icon1{
       width: 30px;
       height: 30px;
   }
  .about_us .icon::before{
      font-size: 14px;
  }
  .about_us .abt_con .box_a .box .msg h3{
     font-size: 7px;
  }
  
  .about_us .abt_con .box_a .box .msg p{
      font-size: 5px;
  }   
  

.partners .txt h2{
  font-size: 10px;
}
.partners .p_con{
  grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
}

.news {
  padding: 0 4%;
}
.news .news_con{
  width: 200px;
  height: 200px;
}
.news .news_con::after{
  font-size: 120px;
}

.news_con form input{
  width: 120px;
  padding: 5px 10px;
  height: 23px;
  font-size: 8px;
}
.news_con form input::placeholder{
  font-size: 8px;
}
.news_con form h1{
  font-size: 10px;
}
.news_con form label{
  right: 23%;
}
.news_con form label i{
  font-size: 9px;
}
/* FOOTER */
footer{
  padding: 70px 0 30px 0;
}
footer .footer{
  gap: 40px;
}

.footer .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .top .socials{
  gap: 10px;
}
.footer .top .socials li a{
  width: 20px;
  height: 20px;
  font-size: 9px;
}


/* FOOTER LIST ITEMS */
.footer .list{
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  padding-bottom: 40px;
}

.footer .list li{
  font-size: 8px;
}
.footer .list li:first-child{
  font-size: 10px;
}
.footer .last p{
  font-size: 8px;
}
.footer .list iframe{
  display: none;
}

}