*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Outfit', sans-serif;
}
 /* FOOTER */
 footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0 50px 0;
}
footer .footer{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.footer div{
    width: 100%;
}
.footer .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .top .logo2{
  width: 100px;
}
.footer .top .socials{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer .top .socials li a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background-color: #1877f2;
    font-size: 20px;
    transition: 0.5s ease-in-out;
    color: #322e31;
}
.footer .top .socials li:nth-child(3) a{
    background-color: #f80985;
}
.footer .top .socials li:nth-child(2) a,
.footer .top .socials li:nth-child(4) a{
    background-color: #000;
}

.footer .top .socials li:nth-child(1) a:hover{
    border-color: #1877f2;
    background-color: transparent;
}
.footer .top .socials li:nth-child(2) a:hover,.footer .top .socials li:nth-child(4) a:hover{
    border-color: #000;
    background-color: transparent;
}
.footer .top .socials li:nth-child(3) a:hover{
    border-color: #f80985;
    background-color: transparent;
}

/* FOOTER LIST ITEMS */
.footer .list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
    gap: 40px;
    justify-content: center;
    padding-bottom: 60px;
    border-bottom: 2px solid #3e373c;
}
.footer .list ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .list ul li,
.footer .list li a{
    color: rgba(255, 255, 255, 0.668);
    transition: 0.5s ease-in-out;
}
.footer .list a:hover{
    color: white;
}
.footer .list li:first-child{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer .last p{
    padding: 0;
    color: rgba(255, 255, 255, 0.668);
}
.footer .list iframe{
    border: 2px solid red;
    border-radius: 18px;
    width: 300px;
    height: 300px;
}

