 /* AT 400PX */
 @media(max-width:450px){
   
    .about_us .abt_con .txt h1{
        font-size: 18px;
    }
    .about_us .abt_con .box_a{
        grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    }
    .about_us .abt_con .box_a .box{
        padding: 17px 27px;
    }
    
    .about_us .abt_con .box_a .box .icon{
        width: 50px;
        height: 50px;
    }
    .about_us .abt_con .box_a .box .icon .icon1{
         width: 50px;
         height: 50px;
     }
    .about_us .icon::before{
        font-size: 20px;
    }
    .about_us .abt_con .box_a .box .msg h3{
       font-size: 12px;
    }
    
    .about_us .abt_con .box_a .box .msg p{
        font-size: 10px;
    }   
    
  
  .partners .txt h2{
    font-size: 18px;
  }
  .partners .p_con{
    grid-template-columns: repeat(auto-fit, minmax(50px, 70px));
  }
  
  .news {
    padding: 0 4%;
  }
  .news .news_con{
    width: 300px;
    height: 300px;
  }
  .news .news_con::after{
    font-size: 220px;
  }
  
  .news_con form input{
    width: 200px;
    padding: 5px 20px;
    height: 35px;
    font-size: 12px;
  }
  .news_con form input::placeholder{
    font-size: 14px;
  }
  .news_con form h1{
    font-size: 15px;
  }
  .news_con form label{
    right: 21%;
  }
  .news_con form label i{
    font-size: 14px;
  }
 
  
  
  /* FOOTER LIST ITEMS */
  .footer .list{
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    padding-bottom: 40px;
  }
  
  .footer .list li{
    font-size: 11px;
  }
  .footer .list li:first-child{
    font-size: 13px;
  }
  .footer .last p{
    font-size: 10px;
  }
  .footer .list iframe{
    display: none;
  }
  
  }
  
  
/* AT 350PX */
@media(max-width:350px){
   
    .about_us .abt_con .txt h1{
        font-size: 14px;
    }
    .about_us .abt_con .box_a{
        grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    }
    .about_us .abt_con .box_a .box{
        padding: 6px 10px;
    }
    
    .about_us .abt_con .box_a .box .icon{
        width: 30px;
        height: 30px;
    }
    .about_us .abt_con .box_a .box .icon .icon1{
         width: 30px;
         height: 30px;
     }
    .about_us .icon::before{
        font-size: 14px;
    }
    .about_us .abt_con .box_a .box .msg h3{
       font-size: 7px;
    }
    
    .about_us .abt_con .box_a .box .msg p{
        font-size: 5px;
    }   
    
  
  .partners .txt h2{
    font-size: 10px;
  }
  .partners .p_con{
    grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
  }
  
  .news {
    padding: 0 4%;
  }
  .news .news_con{
    width: 200px;
    height: 200px;
  }
  .news .news_con::after{
    font-size: 120px;
  }
  
  .news_con form input{
    width: 120px;
    padding: 5px 10px;
    height: 23px;
    font-size: 8px;
  }
  .news_con form input::placeholder{
    font-size: 8px;
  }
  .news_con form h1{
    font-size: 10px;
  }
  .news_con form label{
    right: 23%;
  }
  .news_con form label i{
    font-size: 9px;
  }
  /* FOOTER */
  footer{
    padding: 70px 0 30px 0;
  }
  footer .footer{
    gap: 40px;
  }
  
  .footer .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .top .socials{
    gap: 10px;
  }
  .footer .top .socials li a{
    width: 20px;
    height: 20px;
    font-size: 9px;
  }
  
  
  /* FOOTER LIST ITEMS */
  .footer .list{
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    padding-bottom: 40px;
  }
  
  .footer .list li{
    font-size: 8px;
  }
  .footer .list li:first-child{
    font-size: 10px;
  }
  .footer .last p{
    font-size: 8px;
  }
  .footer .list iframe{
    display: none;
  }
  
  }