<form action="" 
    (ngSubmit)="$event.preventDefault(); submitForm()"
>
  <div class="container">
    <div class="top">
        <div class="inp">
            <label for="name">Your name</label>
            <input type="text" placeholder="Enter your name" name="" id="name">
        </div>
        <div class="inp">
            <label for="email">Your email address</label>
            <input type="email" placeholder="Enter your email" name="" id="email">
            <div
                style="color: red;"
                *ngIf="contactForm.get('senderEmail')?.invalid && (contactForm.get('senderEmail')?.dirty || contactForm.get('senderEmail')?.touched)"
            >
                this is invalid
        </div>
        </div>
       </div>
        <div class="message">
            <label for="message">Message</label>
            <textarea name="" placeholder="Message" id="message" cols="30" rows="3"></textarea>
        </div>
        <div class="btn">
            <button 
                type="submit"
                class="btn2"
                [disabled]="contactForm.invalid"
            >Send message</button>
        </div>
  </div>
</form>