body{
    transition: 0.7s ease-in-out;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: #302b2f;
    overflow-x: hidden;
}
.contact_hero{
    width: 100%;
    height: 400px;
    background: url('../../assets/images/contact_hero.webp');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: 50% top;
}
.contact_hero .txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.contact_hero .txt h1{
    padding: 10px 30px;
    width: fit-content;
    background-color: #00000043;
    text-shadow: 2px 2px 2px black;
}
.contact_hero .txt form{
    position: relative;
    display: flex;
    align-items: center;
}
.contact_hero .txt form input{
    width: 700px;
    height: 60px;
    padding: 5px 20px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #3e373c;
}
.contact_hero .txt input::-webkit-search-cancel-button{
    display: none;
}
.contact_hero .txt form label {
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
    background-color: white; 
}
.contact_hero .txt form label i{
    color: #3e373c;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid gainsboro;
}

 .box_con{
    position: absolute;
    width: 100%;
    bottom: -100px;
    display: grid;
    justify-content: center;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
}

 .box_con .box{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
    gap: 20px;
    border-radius: 18px;
    background-color: white;
}
 .box h1,
 .box i,
 .box p{
    color: #3e373c;
    font-weight: 600;
    line-height: 1;
}
 .box i{
    font-size: 30px;
    color: #1877f2;
}
 .box p{
    font-size: 18px;
}
.con22{
    display: none;
}
/* FAQS SECTION */

.faq{
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    padding: 50px 10%;
    align-items: center;
}
.faq .faq_con{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.faq .faq_con .bulb{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #1877f2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq .faq_con .bulb::after{
    content: '\f0eb';
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 40px;
}
.bulb:hover .bulb::after{
    box-shadow: 10px 10px 10px white;
}
.faq_con h1{
    font-size: 40px;
    word-spacing: 10px;
}

.faq_con ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: -90px;
    width: 800px;
}

.faq_con ul li{
    width: 100%;
    height: 50px;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    border-radius: 15px;
    background-color: white;
    color: #3e373c;
}
.faq_con ul li div{
    width: 100%;
    padding: 14px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq_con ul .open p{
    transition: 0.6s ease-in-out;
    height: max-content;
    font-weight: 500;
    padding: 5px 30px 12px 30px;
}

.faq_con ul li h3,
.faq_con ul li p,
.faq_con ul li i{
    color: #3e373c;
}
.faq_con ul .open{
    transition: 0.6s ease-in-out;
    height: max-content;
}
.faq_con ul li p{
    margin-top:10px 0 0 0;
    height: 0;
}
.faq_con ul li h3{
    font-size: 23px;
}

/* MAPP SECTION */
.mapp{
    width: 100%;
    display: flex;
    padding-top: 150px;
    align-items: center;
    justify-content: center;
}
.mapp div{
    width: 100%;
     display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.mapp iframe{
    width: 60%;
    height: 500px;
    border-radius: 20px;
}
