<main>
    <div class="contact_hero">
        <div class="txt">
            <h1>HOW  CAN WE HELP YOU?</h1>
            <form action="">
                <input type="search" name="" placeholder="Search" id="search">
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
            </form>
        </div>
        <div class="box_con con111">
            <a href="tel: 09075281633" class="box">
                <fa-icon [icon]="phone"></fa-icon>
                <h1>CALL US</h1>
                <p>09075281633</p>
            </a>
            <a href="mailto: support.carbrezzy.com" class="box">
                <fa-icon [icon]="mail"></fa-icon>
                <h1>EMAIL US</h1>
                <p>support.carbrezzy.com</p>
            </a>
            <a href="#mappy" class="box">
                <fa-icon [icon]="location"></fa-icon>
                <h1>LOCATION</h1>
                <p>#3 MBA Plaza Rumomasi Port Harcourt</p>
            </a>
        </div>
        
    </div>
    <div class="box_con con22">
        <a href="tel: 09075281633" class="box">
            <fa-icon [icon]="phone"></fa-icon>
            <h1>CALL US</h1>
            <p>09075281633</p>
        </a>
        <a href="mailto: support.carbrezzy.com" class="box">
            <fa-icon [icon]="mail"></fa-icon>
            <h1>EMAIL US</h1>
            <p>support.carbrezzy.com</p>
        </a>
        <a href="#mappy" class="box">
            <fa-icon [icon]="location"></fa-icon>
            <h1>LOCATION</h1>
            <p>#3 MBA Plaza Rumomasi Port Harcourt</p>
        </a>
    </div>
    <section class="faq">
        <div class="faq_con">
            <div class="bulb"></div>
            <h1>FREQUENTLY ASKED QUSETIONS (FAQs)</h1>
            <ul>
                <li *ngFor="let faq of data">
                 
                    <app-faq [data]="faq"></app-faq>
                </li>
        
             
            </ul>
        </div>
    </section>
       <section class="mapp" id="mappy">
        <div>
            <h1>SITE LOCATION 📌</h1>
        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.6184119833433!2d7.028908654492188!3d4.835403615872566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1069d1dfb38824ed%3A0xac41bee066e6dbec!2sAptech%20Computer%20Education%20Port%20Harcourt!5e0!3m2!1sen!2sng!4v1699447391725!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
       </section>
     
        <app-contact-form></app-contact-form>
</main>
