<main>
    <div class="contact_hero">
        <div class="txt">
            <h1>HOW  CAN WE HELP YOU?</h1>
            <form action="">
                <input type="search" name="" placeholder="Search" id="search">
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
            </form>
        </div>
        <div class="box_con con111">
            <a href="tel: 09075281633" class="box">
                <i class="fa-solid fa-phone-volume"></i>
                <h1>CALL US</h1>
                <p>09075281633</p>
            </a>
            <a href="mailto: support.carbrezzy.com" class="box">
                <i class="fa-solid fa-envelope"></i>
                <h1>EMAIL US</h1>
                <p>support.carbrezzy.com</p>
            </a>
            <a href="#mappy" class="box">
                <i class="fa-solid fa-location-dot"></i>
                <h1>LOCATION</h1>
                <p>#3 MBA Plaza Rumomasi Port Harcourt</p>
            </a>
        </div>
        
    </div>
    <div class="box_con con22">
        <a href="tel: 09075281633" class="box">
            <i class="fa-solid fa-phone-volume"></i>
            <h1>CALL US</h1>
            <p>09075281633</p>
        </a>
        <a href="mailto: support.carbrezzy.com" class="box">
            <i class="fa-solid fa-envelope"></i>
            <h1>EMAIL US</h1>
            <p>support.carbrezzy.com</p>
        </a>
        <a href="#mappy" class="box">
            <i class="fa-solid fa-location-dot"></i>
            <h1>LOCATION</h1>
            <p>#3 MBA Plaza Rumomasi Port Harcourt</p>
        </a>
    </div>
    <section class="faq">
        <div class="faq_con">
            <div class="bulb"></div>
            <h1>FREQUENTLY ASKED QUSETIONS (FAQs)</h1>
            <ul>
                <li>
                    <div class="open_accordion">
                        <h3 class="open_accordion2">How can CarBrezzy help me find my next car?</h3>
                        <i class="fa-solid fa-angle-down"></i>
                        
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum recusandae hic nobis, maiores cupiditate minus harum aspernatur assumenda culpa explicabo nemo officia molestiae, vitae est laborum enim necessitatibus unde fugit.</p>
                </li>
                <li>
                    <div class="open_accordion">
                        <h3 class="open_accordion2">Does CarBrezzy offer and discount?</h3>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus quis ut nobis explicabo placeat commodi a rem optio dolorum officiis?</p>
                </li>
                <li>
                    <div class="open_accordion">
                        <h3 class="open_accordion2">Can I search cars by photos?</h3>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium tempore, doloremque hic aspernatur ullam ipsa architecto excepturi rem alias nobis officia dolor fugiat eum, corrupti dolorum consectetur.</p>
                </li>
                <li>
                    <div class="open_accordion">
                        <h3 class="open_accordion2">How do I reset my password?</h3>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni accusantium reprehenderit similique pariatur rerum alias nesciunt beatae.</p>
                </li>
                <li>
                    <div class="open_accordion">
                        <h3 class="open_accordion2">How to adjust my search result?</h3>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum possimus rerum dicta hic temporibus voluptatem sequi, ipsam quia maiores voluptate eius at distinctio?</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="news">
        <div class="news_con">
            <form action="">
                <h1>GET DAILY UPDATES FROM CarBrezzy</h1>
               <div>
                <input type="email" name="email" placeholder="Enter email" id="email23">
                <label for="email23"><i class="fa-solid fa-arrow-right"></i></label>
               </div>
            </form>
        </div>
       </section>
       <section class="mapp" id="mappy">
        <div>
            <h1>SITE LOCATION 📌</h1>
        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.6184119833433!2d7.028908654492188!3d4.835403615872566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1069d1dfb38824ed%3A0xac41bee066e6dbec!2sAptech%20Computer%20Education%20Port%20Harcourt!5e0!3m2!1sen!2sng!4v1699447391725!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
       </section>
       <section class="form">
        <app-contact-form></app-contact-form>
       </section>
</main>
