<div id="root">
    <main>
         <div class="hero" id="hero">
       
            <div class="hero_rt">
                <div class="hero_sec shadow hero_1" id="shadow">
                    <img src="../../assets/images/Mulliner Batur.jpg" alt="">
                    <div class="hero_txt">
                        <div class="txt">
                            <h1>Bentley</h1>
                            <p>A new level of comfort and class unlocked with the Bentley Mulliner</p>
                    </div>
                         <div class="hero_btn">
                            <a href="/pages/shop.html">
                                <button>Shop now</button>
                            </a>
                            
                         </div>   
                    </div>
                   
                   
                </div>
                <div class="hero_sec shadow" id="shadow">
                    <img src="../../assets/images/banner2.jpg" alt="">
                    <div class="hero_txt">
                        <div class="txt">
                       <h1>Benz</h1>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates magni qui eligendi libero fugiat facere.</p>
                    </div>
                         <div class="hero_btn">
                            <a href="/pages/shop.html">
                                <button>Shop now</button>
                            </a>
                         </div>   
                    </div>
                   
                   
                </div>
                <div class="hero_sec shadow" id="shadow">
                    <img src="../../assets/images/banner3.jpg" alt="">
                    <div class="hero_txt">
                        <div class="txt">
                            <h1>Honda</h1>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates magni qui eligendi libero fugiat facere.</p>
                    </div>
                         <div class="hero_btn">
                            <a href="/pages/shop.html">
                                <button>Shop now</button>
                            </a>
                         </div>   
                    </div>
                   
                   
                </div>
                <div class="hero_sec shadow" id="shadow">
                    <img src="../../assets/images/dezeen_hpc_final.jpg" alt="">
                    <div class="hero_txt">
                        <div class="txt">
                            <h1>Bentley Dezeen</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates magni qui eligendi libero fugiat facere.</p>
                    </div>
                         <div class="hero_btn">
                            <a href="/pages/shop.html">
                                <button>Shop now</button>
                            </a>
                         </div>   
                    </div>
                   
                   
                </div>
                <div class="hero_sec shadow" id="shadow">
                    <img src="../../assets/images/Mulliner Batur.jpg" alt="">
                    <div class="hero_txt">
                        <div class="txt">
                            <h1>Bentley</h1>
                            <p>A new level of comfort and class unlocked with the Bentley Mulliner</p>
                    </div>
                         <div class="hero_btn">
                            <a href="/pages/shop.html">
                                <button>Shop now</button>
                            </a>
                         </div>   
                    </div>
                   
                   
                </div>
            </div>
            <div class="slider">
                <!-- <button href="#" class="arrow" data-button="prev">
                    <i class="fa-solid fa-angle-left"></i>
                </button> -->
                    <!-- <button href="#" class="change" id="change1"></button>
                    <button href="#" class="change" id="change2"></button>
                    <button href="#" class="change" id="change2"></button>
                    <button href="#" class="change" id="change3"></button> -->
                <!-- <button href="#" class="arrow" id="arrow1" data-button="next">
                    <i class="fa-solid fa-angle-right"></i>
                </button> -->
            </div>
       
       </div>
       <section class="search">
        <div class="head">
            <h1>Build Your Dream Car</h1>
        </div>
            <div class="top">
                <select name="Car Status" aria-placeholder="" id="" >
                    Car Status
                    <option value="" selected disabled >Car Status</option>
                    <option value="">New Car</option>
                    <option value="">Used Car</option>
                </select>
                <select name="Brand" id="">
                    <option value="" selected disabled>
                        Car Brand
                    </option>
                    <option value="">
                        Benz
                    </option>
                    <option value="">
                        Toyota
                    </option>
                    <option value="">
                        Honda
                    </option>
                    <option value="">
                        Ford
                    </option>
                    <option value="">
                        Bentley
                    </option>
                </select>
                <select name="Car Type" aria-placeholder="" id="" >
                    Car Status
                    <option value="" selected disabled >Car Type</option>
                    <option value="">SUV</option>
                    <option value="">Sports</option>
                    <option value="">
                        Convertible
                    </option>
                </select>
                <select name="price" id="">
                    <option value="" selected disabled>
                        Car Price
                    </option>
                    <option value="">
                        $1000 - $6000
                    </option>
                    <option value="">
                        $6001 - $11,000
                    </option>
                    <option value="">
                        $11,001 - $20,000
                    </option>
                    <option value="">
                        $20,001 >>>
                    </option>
                 
                </select>
            </div>
            <div class="btn">
                <button class="g_btn"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
            </div>
       </section>
       <section class="featured">
        <div class="details">
            <div class="txt">
                <p>Featured Car</p>
                <h1>Strength And Beauty in Dynamics</h1>
            </div>
            <div class="table">
                    <ul class="t_body">
                        <li>Name</li>
                        <li>Engine</li>
                        <li>Speed</li>
                        <li>Fuel Capacity(Gal)</li>
                    </ul>
                <ul class="t_body">
                    <li>Ford Mustang</li>
                    <li>5.0L Ti-VCT V-8 Engine</li>
                    <li>480  7,150rpm (93-octane fuel)</li>
                    <li>16</li>
                </ul>
            </div>
            <div class="btn">
                <button class="g_btn">See More 	&#9830;</button>
            </div>
        </div>
        <div class="f_car">
            <img src="../../assets/images/ford.avif" alt="">
        </div>
       </section>
       <section class="about_us">
        <div class="abt_con">
            <div class="txt">
                <h1>WHY CHOOSE US?</h1>
            </div>
            <div class="box_a">
                <div class="box" id="box">
                    <div class="icon">
                        <div class="icon1" id="icon1"></div>
                    </div>
                    <div class="msg">
                        <h3>BEST PRICE</h3>
                        <p>Our stress-free finance department that can find financial solutions to save you money.</p>
                    </div>
                </div>
                <div class="box" id="box">
                    <div class="icon">
                        <div class="icon1" id="icon1"></div>
                    </div>
                    <div class="msg">
                        <h3>FAST DELIVERY</h3>
                        <p>Our stress-free finance department that can find financial solutions to save you money.</p>
                    </div>
                </div>
                <div class="box" id="box">
                    <div class="icon">
                        <div class="icon1" id="icon1"></div>
                    </div>
                    <div class="msg">
                        <h3>QUICK TRANSACTION</h3>
                        <p>Our stress-free finance department that can find financial solutions to save you money.</p>
                    </div>
                </div>
                <div class="box" id="box">
                    <div class="icon">
                        <div class="icon1" id="icon1"></div>
                    </div>
                    <div class="msg">
                        <h3>CUSTOMER SUPPORT</h3>
                        <p>Our stress-free finance department that can find financial solutions to save you money.</p>
                    </div>
                </div>
            </div>
        </div>
       </section>
       <section class="partners">
            <div class="txt">
                <h2>OUR GLOBALLY TRUSTED PARTNERS</h2>
            </div>
        <div class="p_con">
            <img src="../../assets/images/download/Ford_logo_flat.svg.png" alt="">
            <img src="../../assets/images/toyota_logo.png" alt="">
            <img src="../../assets/images/honda_logo.png" alt="">
            <img src="../../assets/images/preview.png" alt="">
            <img src="../../assets/images/benz_logo.png" alt="">
            <img src="../../assets/images/lambo_logo.png" alt="">
            <img src="../../assets/images/rolls_logo.png" alt="">
            <img src="../../assets/images/inonson_logo.png" alt="">
            <img src="../../assets/images/ups.png" alt="">
            <img src="../../assets/images/fedex.png" alt="">
        </div>
       </section>
       <section class="top_sales">
         <div class="top_con">
            <div class="car">
                <div class="name">
                    <h1>FORD MUSTANG 1967 CLASSIC V8 </h1>
                </div>
                <div class="img">
                    <img src="/images/featuredCar.png" alt="">
                </div>
                <div class="desc">
                    <ul class="car_desc">
                        <li class="head" style="color: red;">
                            .icon  
                        </li>
                        <li class="details"></li>
                        <li class="unit"></li>
                    </ul>
                 </div>
            </div>
            <div class="car">
                <div class="name">
                    <h1>FORD MUSTANG MACH-E PREMIUM 2023</h1>
                </div>
                <div class="img">
                    <img src="/images/ford_mach.avif" alt="">
                </div>
                <div class="desc">
                    <ul class="car_desc">
                        <li class="head" style="color: red;">
                            .icon  
                        </li>
                        <li class="details"></li>
                        <li class="unit"></li>
                    </ul>
                 </div>
            </div>
            <div class="car">
                <div class="name">
                    <h1>2023 Bronco® Raptor</h1>
                </div>
                <div class="img">
                    <img src="/images/ford_hummer.avif" alt="">
                </div>
                <div class="desc">
                    <ul class="car_desc">
                        <li class="head" style="color: red;">
                            .icon  
                        </li>
                        <li class="details"></li>
                        <li class="unit"></li>
                    </ul>
                 </div>
            </div>
            <div class="car">
                <div class="name">
                    <h1>2023 Bronco® Raptor</h1>
                </div>
                <div class="img">
                    <img class="honda" src="/images/honda_hummer.png" alt="">
                </div>
            </div>
         </div>
       </section>
       <section class="news">
        <div class="news_con">
            <form action="">
                <h1>GET DAILY UPDATES FROM CarBrezzy</h1>
               <div>
                <input type="email" name="email" placeholder="Enter email" id="email23">
                <label for="email23"><i class="fa-solid fa-arrow-right"></i></label>
               </div>
            </form>
        </div>
       </section>
    </main>
  
</div>
